*{
    padding: 0px;
    margin: 0px;
}
.part1>img{
    width: 10vh;  
}
nav, .part2{
    display: flex;
    justify-content:space-between;
    align-items: center;   
    background-color: #e3e11f !important;
    list-style: none;
 
     flex-wrap: wrap;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
.part2>li>a{
     text-decoration: none !important;
    color: black;
      padding: 5px;
}
.contenedor-logo{
    background:linear-gradient(rgba(58, 58, 61, 0.157), rgba(15, 15, 15, 0.767)), url(../img/LOGO.png) ; 
    background-attachment:unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;   
    width: 100%;
}
.contenedor-logo>.instagram{
    display: flex;
   justify-content: center;
  flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: white; 
   
}
.instagram>button{
    border-radius: 50px;
    padding: 5px;
    background-color: #e3e11f;
    
}
.instagram>h2{
    display: flex;
    flex-direction: column;
     font-size: 70px;
    font-weight: 700;
}
.contenedor-slider>ul>li{
list-style: none;
margin: 0px;
}
.contenedor-slider{
    margin-top: 80px;
    width: 400px;
   
}
.slider{
   position: relative;
   width: 400px;
   height: 200px;
}
.slider>li{
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity -5s;
}
.slider>li>img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.slider>li:first-child{
    opacity: 1;
}

.slider>li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}
.menu>li{
    display: inline-block;
    text-align: center;
}
.menu>li>a{
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    font-size: 15px;
    
}
.footer-basic {
    padding:40px 0;
    background-color:#181616;
    color:#d9e2e2;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin: 15px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .banner{
    background:linear-gradient(rgba(58, 58, 61, 0.157), rgba(15, 15, 15, 0.767)), url(../img/pulido.png) ; 
    background-attachment:unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;   
}
.card{
    width: 300px;
    margin: 0 1em 0 1em;
   
    
}
.card img{
    height: 300px !important;
}


@media all and (min-width:600px) and (max-width:850px){
    .instagram>h2{
         font-size: 50px;
        font-weight: 500;
    }
    .serviceContain{
        flex-wrap: wrap;
    }
    .card{
        width: 250px;
    }
    .card img{
        height: 250px;
    }
    .banner{
        height: 700px;
        width: 100%;
    }

}
@media all and (min-width:360px) and (max-width:600px){
   
    .instagram>h2{
        font-size: 30px;
        font-weight: 500;
       
    }
    .banner{
        width: 100%;
    }
}
@media all and (min-width:200px) and (max-width:360px){
    .instagram>h2{
        font-size: 20px;
        font-weight: 700;
    }
    .menu>li>a{
        color: white;
        text-decoration: none;
        background-color: gray;
        padding: 7px;
        font-size: 10px;
        
    }
    .banner{
        width: 100%;
    }
}

/* nav{
    flex-wrap: wrap;
    width: 100% !important;
    background-color: #e3e11f !important;
   
  
}
.navbar > a{
      color: black !important;
      text-decoration: none !important;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.contentImage>a{
    color: black !important;
    text-decoration: none !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.logo_contain{
     width: 120% !important;
background:linear-gradient(rgba(58, 58, 61, 0.157), rgba(15, 15, 15, 0.767)), url(../img/LOGO.png) ; 
    background-image: no-repeat;
          
          background-image: center;
      
       height: auto
}
.logo_contain>h1{
   padding-top: 150px;
   padding-left: 40px;
   font-size: 70px;
   font-weight: 900;
   color: white;

}
.carousel{
    width: 500px !important;
    height: 200px !important;
    padding-left: 40px
}

.btn{
    width: 460px !important;
}
.btn>img{
    padding-bottom: 6px;
    padding-right: 2px !important;
}
.btn>p{
    padding-top: 5px;
}
.contentImage>img{
margin-right: 3px !important;
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(39, 38, 38);
    height: 80px;
    width: 100vw;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content>h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials6>li{
    margin: 0 10px;
}

.socials >a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials >a >i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials >a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom >p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom >p >a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #616d7e;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media all and (min-width: 200px) and (max-width:450px) {
    .contentImage>a{
        display: none;
        color: white!important;
        text-decoration: none !important;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    }
    .carousel-item>img{
        height: 200px !important;
        width: 200px !important; 
        margin: 0px;
    }
    .logo_contain{
        background:linear-gradient(rgba(58, 58, 61, 0.157), rgba(15, 15, 15, 0.767)), url(../img/LOGO.png) ; 
            background-image: no-repeat;
                  background-image: fixed;
                  background-image: center;
               -webkit-background-size: cover;
               -moz-background-size: cover;
               -o-background-size: cover;
               background-size: cover;
               width: 100% !important;
               height: auto;
        }
    }
    .serviceContain{
        background:linear-gradient(rgba(58, 58, 61, 0.157), rgba(15, 15, 15, 0.767)), url(../img/FondoService.png) ; 
    background-image: no-repeat;
          background-image: fixed;
          background-image: center;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       height: 100vh
    } */